body {
        margin: 0;
      }

      b,
      h6,
      h4,
      h3 {
        font-family: 'IM_Hyemin-Bold';
      }

      font,
      h2,
      h1 {
        color: #155faf;
        font-family: 'IM_Hyemin-Bold'
        ;
      }
      h1{font-size: x-large;}

      p {
        font-family: 'IM_Hyemin-Regular';
        font-size: x-large;
      }

      @font-face {
        font-family: 'IM_Hyemin-Bold';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Bold.woff2') format('woff');
        font-weight: normal;
        font-style: normal;
      }

      @font-face {
        font-family: 'IM_Hyemin-Regular';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Regular.woff2') format('woff');
        font-weight: normal;
        font-style: normal;
      }